body
{
	padding: 0;
	margin: 0;
	font-family:Montserrat;
	color: #120B02;
	background-color:#F0EFEA;
	font-size: 18px;
}



h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin: 0;
	
	font-weight: 900;
	font-size: 27px;

}



a
{
	display: block;
	border: none;
	background: transparent;

}
ul,li
{
	display: block;
	padding: 0;
	margin: 0;
}

.container
{
	width: 1170px;
	margin: 0 auto;

}

.header
{
	background-color: #F0EFEA;
	padding-top: 25px;
}


header a
{
	color: #120B02;
}

.logo
{
	margin-right: 168px;

}
.menu
{
	display: flex;
}

.menu li a 
{
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}

.menu li
{
	margin-right: 38px;
}

.cost
{
	text-decoration: none;
	font-weight: 900;
	font-size: 15px;
	margin-left: 9px;
}

.nav
{
	display: flex;
	align-items: center;
}

.man 
{
	margin-left: 40px;
	margin-right: 0px;
}

.korz
{
	margin-left: 135px;
}

.about
{
	background-color: #F0EFEA;
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 23px;

	
}


.prod
{
	padding: 0 0 0 0;
	margin-top: 38px;
	background: #F97F76;
	border-radius: 60px;
	display: flex;
	width: 100%;
	display: flex;
	align-items: center;
	border: none;

  justify-content: center;

}



.textic
{
	display: flex;
	text-align: left;
	padding-left: 54px;
	font-size: 30px;
	color: #120B02;

}

.prod a
{
	
	text-decoration: none;
	align-items: center;
	display: flex;
	text-align: left;
	padding-left: 54px;
	font-size: 30px;

}

.prod_1
{
	padding: 0 0 0 0;
	margin-top: 38px;
	background: #A58773;
	border-radius: 60px;
	display: flex;
	width: 100%;
	display: flex;
	align-items: center;
	border: none;
	justify-content:left;

}

.prod_1 a
{
	
	text-decoration: none;
	align-items: center;
	display: flex;
	text-align: left;
	padding-left: 54px;
	font-size: 30px;
	justify-content: center;


}

.textic_1
{

	/*width: 255px;*/
	display: flex;
	text-align: left;
	padding-left: 54px;
	font-size: 30px;
	color: #120B02;
	/*margin-right: 100px;*/

}

/*.qivi_1
{ 
	justify-content: right;
}*/

.righted {
 order: 9;
  margin-left: auto;
  
}

.lose
{
	order 7;
}
.righ
{
	order: 8;
	margin-left: auto;
}

.button
{
	width: 100%;
	display: inline-block;
	float: right;
}

.qivi_1
{
	float: left;
}








